
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Mvc Kamp Tablo Örnegi - Kategori </h3>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ADI</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
        <th>Güncelle</th>
    </tr>

    <tr>
        <td>3</td>
    </tr>
</table>
<button class="btn btn-info">Yeni Kategori</button>